/* -_-_-_- STYLES PAGE LESSSSGOOOOOOOO!! -_-_-_- */
/* General */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: olivedrab;
    padding: 0.5%;
    font-size: 1.5vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.spacer{
    width: 100%;
    height: 6vw;
}
.bottom_spacer{
    width: 100%;
    height: 3vw;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: olivedrab;
    padding: 1%;
    font-size: 1.5vw;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
/* -_-_-_- Home page -_-_-_- */
.home_body{
    background-color: lightseagreen;
}
.me_section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-color: lightslategray;
    height: 90vh;
    width: 64%;
    margin-left: 17%;
    margin-right: 17%;
}
.me_info{
    display: flex;
    padding: 3vw;
}
.quote{
    width: 100%;
    padding-left: 15vw;
}
/* -_-_-_- About Page -_-_-_- */
.about_body{
    background-color: goldenrod;
}
.art_section{
    display: flex;
    background-color: firebrick;
    align-items: center;
    padding: 15px;
    width: 66%;
    height: 35vh;
    margin-left: 17%;
    margin-right: 17%;
}
.bass_section{
    display: flex;
    flex-direction: row-reverse;
    background-color: coral;
    align-items: center;
    padding: 15px;
    width: 66%;
    height: 35vh;
    margin-left: 17%;
    margin-right: 17%;
}
.videogames_section{
    display: flex;
    background-color: lightcoral;
    align-items: center;
    padding: 15px;
    width: 66%;
    height: 35vh;
    margin-left: 17%;
    margin-right: 17%;
}
/* -_-_-_- Portfolio Page -_-_-_- */
.portfolio_body{
    background-color: rgb(140, 37, 37);
}
.projects_section{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    background-color: burlywood;
    height: 90vh;
    margin-left: 17%;
    margin-right: 17%;
}
.zoo_project{
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 1vw;
    outline: solid black;
}
.list_project{
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 1vw;
    outline: solid black;
}
.vault_project{
    grid-column-start: 3;
    grid-row-start: 3;
    padding: 1vw;
    outline: solid black;
}
/* -_-_-_- Contact Page -_-_-_- */
.contact_body{
    background-color: aquamarine;
}
.contact_boxes{
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    height: 90vh;
}
.contact_title{
    font-size: 25px;
}
.name_box{
    width: 20em;
    height: 2em;
}
.email_box{
    width: 20em;
    height: 2em;
}
.message_box{
    width: 25em;
    height: 6em;
}